<div ng-controller="Collection.controller">
    <section class="album-covers container">
        <div class="clearfix">
            <div class="collection-album-container column fourth" ng-repeat="album in albums">
                <img src="{{album.albumArtUrl}}" />
                <div class="collection-album-info caption">
                    <p>
                        <a class="album-name" ui-sref="album">{{album.name}}</a>
                        <br /> {{ album.songs.length }} songs
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
